body {
  margin: 0 auto;
  width: 100%;
  font-family: 'Helvetica', arial, sans-serif;

}

h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

#customer {
  margin: 50px 100px 15px 100px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  width: 25%;
  display: inline-block;
  text-align: center;
}

.container img {
  width: 95%;
}

.container hr {
  align-content: center;
  width: 30%;
  margin-top: -1em;
  height: 1px;
  border: 0;
  border-top: 2px solid #93cfae;
  padding: 0;
}

.email {
  text-transform: uppercase;
  font-weight: lighter;
  color: lightgray;
  font-size: 14px;
}

.street {
  color: darkgray;
  text-transform: capitalize;
}

.address {
  color: darkgray;
  margin-top: -.75em;
  text-transform: capitalize;
}

.phone {
  color: darkgray;
  margin-top: -.75em;
}

.ssn {
  color: #93cfae;
  font-weight: lighter;
  font-size: 18px;
}
